/* Stylesheet for scoreboard page */

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  h1{
    background: linear-gradient(to right, black, red);
    color: white;
    padding: 10px;
    text-align: center;
    font-family:monospace;
    font-size: 50px;
  }
  
  navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
  }
  
  navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Add transition for smooth effect */
  }
  
  navbar ul li a:hover {
    color: rgb(44, 42, 42); /* Change text color to black on hover */
  }
  
  section {
    margin: 20px;
  }
  
  section h2 {
    color: #ff0000;
  }